#################################
# URLs
#################################

NEXT_PUBLIC_DIAPAY_API_URL=http://localhost:5100

#################################
# Webhooks
#################################

DIAPAY_WEBHOOK_SECRET=
