#################################
# URLs
#################################

NEXT_PUBLIC_DIAPAY_API_URL=http://localhost:5100
DIAPAY_API_URL=http://localhost:5100

#################################
# Sandbox credentials
#################################

DIAPAY_SECRET_KEY=sk_test_sandbox_merchant
