#################################
# Application
#################################

PORT=3001

#################################
# URLs
#################################

NEXT_PUBLIC_API_URL=https://diamarket-api.onrender.com/api
NEXT_PUBLIC_DIAMARKET_API_URL=https://diamarket-api.onrender.com/api

